<!-- add-project.component.html -->



<br><br> <br>
<div class="add-project">
    <h3>Add Product</h3>
  
    <form (ngSubmit)="createProduct()" [formGroup]=" createProductForm">
     
      <label>Title:</label>
      <input type="text" formControlName="title" placeholder="Title..." />
      <label>Description:</label>
      <textarea type="text" formControlName="description"> </textarea>
      <button type="submit" [disabled]=" createProductForm.invalid">Submit</button>
    </form>
  </div>
  
