
<app-nav-bar></app-nav-bar>


<br> <br> <br> 

  
<!-- home-component.component.html -->

<div class="welcome-container">
    <h1>Welcome to Fashion Online Shop, {{ name }}!</h1>
    <p>Add your latest collection and enjoy your shopping experience.</p>
  
    <!-- Advertisement Grid -->
    <div class="advertisement-grid">
      <div class="advertisement-item">
        <img src="https://www.instyle.com/thmb/gz_zZsLFnmwxULLeJksWpWVZoV4=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/wintertrendsbyzodiacsign-lead-43beeabc22694df398e0c0f69be04764.jpg" alt="Advertisement 1">
      </div>
      <div class="advertisement-item">
        <img src="https://st.depositphotos.com/1273429/4525/i/450/depositphotos_45259565-stock-photo-high-fashion-look-glamor-closeup.jpg" alt="Advertisement 2">
      </div>
      <div class="advertisement-item">
        <img src="https://hips.hearstapps.com/hmg-prod/images/street-style-tyler-joe-1-1674752623.jpg?crop=0.321xw:0.643xh;0.342xw,0.170xh&resize=640:*" alt="Advertisement 3">
        <div class="advertisement-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_NoHddIKOXm7o41d4lCACUb3w1afAxNMhgg&usqp=CAU" alt="Advertisement 2">
          </div>
      </div>
      <!-- Add more advertisement items as needed -->
    </div>
  </div>
  